N8N_Workflows/WF-004_MCP_Integration_Hub.json
{
    "name": "MCP Integration Hub",
    "nodes": [
        {
            "parameters": {
                "options": {}
            },
            "name": "MCP Server Trigger",
            "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "mcp-hub"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.toolName }}",
                            "rightValue": "get_pipeline_status",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Route: Pipeline Status",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                500,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.toolName }}",
                            "rightValue": "get_architect_workload",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Route: Architect Workload",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                500,
                400
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $vars.AZURE_FUNCTION_URL }}/consolidar-v2",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "options": {}
            },
            "name": "Get Pipeline Summary",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                750,
                200
            ]
        },
        {
            "parameters": {
                "resource": "listItem",
                "operation": "getAll",
                "siteId": "={{ $vars.SHAREPOINT_SITE_ID }}",
                "listId": "={{ $vars.SP_ARQUITETOS_LIST_ID }}",
                "returnAll": true,
                "options": {}
            },
            "name": "Get Architects",
            "type": "n8n-nodes-base.microsoftSharePoint",
            "typeVersion": 1,
            "position": [
                750,
                400
            ]
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"tool_response\": {\n    \"pipeline_value\": {{ $json.total_pipeline_eur || 0 }},\n    \"active_offers\": {{ $json.total_ofertas || 0 }},\n    \"win_rate\": {{ $json.win_rate || 0 }},\n    \"avg_margin\": {{ $json.margem_media || 0 }},\n    \"status\": \"success\"\n  }\n}",
                "options": {}
            },
            "name": "Format Pipeline Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                950,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const architects = $input.all();\nconst workload = architects.map(a => ({\n  name: a.json.fields?.Nome || 'Unknown',\n  email: a.json.fields?.Email,\n  type: a.json.fields?.Tipo,\n  jiraUser: a.json.fields?.UsernameJIRA,\n  status: a.json.fields?.Status\n}));\n\nreturn [{ json: { tool_response: { architects: workload, count: workload.length, status: 'success' } } }];"
            },
            "name": "Format Workload Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                950,
                400
            ]
        },
        {
            "parameters": {},
            "name": "Return Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1150,
                300
            ]
        }
    ],
    "connections": {
        "MCP Server Trigger": {
            "main": [
                [
                    {
                        "node": "Route: Pipeline Status",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Route: Architect Workload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route: Pipeline Status": {
            "main": [
                [
                    {
                        "node": "Get Pipeline Summary",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Route: Architect Workload": {
            "main": [
                [
                    {
                        "node": "Get Architects",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Get Pipeline Summary": {
            "main": [
                [
                    {
                        "node": "Format Pipeline Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Architects": {
            "main": [
                [
                    {
                        "node": "Format Workload Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Pipeline Response": {
            "main": [
                [
                    {
                        "node": "Return Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Workload Response": {
            "main": [
                [
                    {
                        "node": "Return Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        "MCP",
        "Integration",
        "Hub",
        "Claude"
    ],
    "triggerCount": 1,
    "meta": {
        "description": "Exposes N8N tools as MCP Server endpoints for Claude Code integration",
        "exposed_tools": [
            {
                "name": "get_pipeline_status",
                "description": "Returns current pipeline summary with value, offers, win rate, margin"
            },
            {
                "name": "get_architect_workload",
                "description": "Returns list of architects with their info and availability"
            },
            {
                "name": "send_alert",
                "description": "Posts urgent alert message to Teams channel"
            },
            {
                "name": "generate_report",
                "description": "Creates C-Level report on demand"
            }
        ]
    }
}